.rhz_box {
    width: 600px;
    margin: 20px auto;
}

.rhz_progress {
    position: relative;
    height: 24px;
    width: 100%;
    border-radius: 12px;
    background-color: #eee;
    border: #ddd solid 2px;
}

.rhz_bar {
    height: 100%;
    border-radius: inherit;
}

.rhz_button {
    width: 48px;
    height: 48px;
    position: absolute;
    top: -16px;
    border-radius: 50%;
    border: #ccc 2px solid;
    background-color: #bbb;
    overflow: hidden;
}

.rhz_button img {
    width: 100%;
    height: 100%;
}

.rhz_title {
    text-align: center;
    margin-top: 8px;
}
